In [174]:
import requests
import fastf1
import pandas as pd
import json
from pandas import json_normalize

fastf1.Cache.enable_cache("./cache/")

In [175]:
year = input('Temporada : ')

Temporada : 2021

In [176]:
url = "http://ergast.com/api/f1/"
query = "constructorStandings.json"
urlquery = url + str(year) + '/'+query
urlquery

'http://ergast.com/api/f1/2021/constructorStandings.json'

In [177]:
response = requests.get(urlquery)
data = response.json()
constructors = data['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']
constructors

[{'position': '1',
  'positionText': '1',
  'points': '613.5',
  'wins': '9',
  'Constructor': {'constructorId': 'mercedes',
   'url': 'http://en.wikipedia.org/wiki/Mercedes-Benz_in_Formula_One',
   'name': 'Mercedes',
   'nationality': 'German'}},
 {'position': '2',
  'positionText': '2',
  'points': '585.5',
  'wins': '11',
  'Constructor': {'constructorId': 'red_bull',
   'url': 'http://en.wikipedia.org/wiki/Red_Bull_Racing',
   'name': 'Red Bull',
   'nationality': 'Austrian'}},
 {'position': '3',
  'positionText': '3',
  'points': '323.5',
  'wins': '0',
  'Constructor': {'constructorId': 'ferrari',
   'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
   'name': 'Ferrari',
   'nationality': 'Italian'}},
 {'position': '4',
  'positionText': '4',
  'points': '275',
  'wins': '1',
  'Constructor': {'constructorId': 'mclaren',
   'url': 'http://en.wikipedia.org/wiki/McLaren',
   'name': 'McLaren',
   'nationality': 'British'}},
 {'position': '5',
  'positionText': '5',
  'points': '155',
  'wins': '1',
  'Constructor': {'constructorId': 'alpine',
   'url': 'http://en.wikipedia.org/wiki/Alpine_F1_Team',
   'name': 'Alpine F1 Team',
   'nationality': 'French'}},
 {'position': '6',
  'positionText': '6',
  'points': '142',
  'wins': '0',
  'Constructor': {'constructorId': 'alphatauri',
   'url': 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri',
   'name': 'AlphaTauri',
   'nationality': 'Italian'}},
 {'position': '7',
  'positionText': '7',
  'points': '77',
  'wins': '0',
  'Constructor': {'constructorId': 'aston_martin',
   'url': 'http://en.wikipedia.org/wiki/Aston_Martin_in_Formula_One',
   'name': 'Aston Martin',
   'nationality': 'British'}},
 {'position': '8',
  'positionText': '8',
  'points': '23',
  'wins': '0',
  'Constructor': {'constructorId': 'williams',
   'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering',
   'name': 'Williams',
   'nationality': 'British'}},
 {'position': '9',
  'positionText': '9',
  'points': '13',
  'wins': '0',
  'Constructor': {'constructorId': 'alfa',
   'url': 'http://en.wikipedia.org/wiki/Alfa_Romeo_in_Formula_One',
   'name': 'Alfa Romeo',
   'nationality': 'Swiss'}},
 {'position': '10',
  'positionText': '10',
  'points': '0',
  'wins': '0',
  'Constructor': {'constructorId': 'haas',
   'url': 'http://en.wikipedia.org/wiki/Haas_F1_Team',
   'name': 'Haas F1 Team',
   'nationality': 'American'}}]

In [178]:
df = pd.DataFrame(constructors)
df

,position,positionText,points,wins,Constructor
0,1,1,613.5,9,"{'constructorId': 'mercedes', 'url': 'http://e..."
1,2,2,585.5,11,"{'constructorId': 'red_bull', 'url': 'http://e..."
2,3,3,323.5,0,"{'constructorId': 'ferrari', 'url': 'http://en..."
3,4,4,275,1,"{'constructorId': 'mclaren', 'url': 'http://en..."
4,5,5,155,1,"{'constructorId': 'alpine', 'url': 'http://en...."
5,6,6,142,0,"{'constructorId': 'alphatauri', 'url': 'http:/..."
6,7,7,77,0,"{'constructorId': 'aston_martin', 'url': 'http..."
7,8,8,23,0,"{'constructorId': 'williams', 'url': 'http://e..."
8,9,9,13,0,"{'constructorId': 'alfa', 'url': 'http://en.wi..."
9,10,10,0,0,"{'constructorId': 'haas', 'url': 'http://en.wi..."

In [179]:
df2 = pd.json_normalize(constructors)
df2

,position,positionText,points,wins,Constructor.constructorId,Constructor.url,Constructor.name,Constructor.nationality
0,1,1,613.5,9,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
1,2,2,585.5,11,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
2,3,3,323.5,0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
3,4,4,275,1,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
4,5,5,155,1,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French
5,6,6,142,0,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian
6,7,7,77,0,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British
7,8,8,23,0,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British
8,9,9,13,0,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
9,10,10,0,0,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American

In [180]:
df2.columns = ['posicion','posicionTexto','puntos','wins','constructorId','url','escuderia','nacionalidad']
df2

,posicion,posicionTexto,puntos,wins,constructorId,url,escuderia,nacionalidad
0,1,1,613.5,9,mercedes,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Mercedes,German
1,2,2,585.5,11,red_bull,http://en.wikipedia.org/wiki/Red_Bull_Racing,Red Bull,Austrian
2,3,3,323.5,0,ferrari,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Ferrari,Italian
3,4,4,275,1,mclaren,http://en.wikipedia.org/wiki/McLaren,McLaren,British
4,5,5,155,1,alpine,http://en.wikipedia.org/wiki/Alpine_F1_Team,Alpine F1 Team,French
5,6,6,142,0,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian
6,7,7,77,0,aston_martin,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,Aston Martin,British
7,8,8,23,0,williams,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,Williams,British
8,9,9,13,0,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
9,10,10,0,0,haas,http://en.wikipedia.org/wiki/Haas_F1_Team,Haas F1 Team,American

In [181]:
df2.dtypes

posicion         object
posicionTexto    object
puntos           object
wins             object
constructorId    object
url              object
escuderia        object
nacionalidad     object
dtype: object

In [182]:
df2['posicion'] = df2['posicion'].astype(int)
df2['puntos'] = df2['puntos'].astype(float)
df2['wins'] = df2['wins'].astype(int)

In [183]:
df2.describe()

       posicion     puntos       wins
count  10.00000   10.00000  10.000000
mean    5.50000  220.75000   2.200000
std     3.02765  226.80881   4.157991
min     1.00000    0.00000   0.000000
25%     3.25000   36.50000   0.000000
50%     5.50000  148.50000   0.000000
75%     7.75000  311.37500   1.000000
max    10.00000  613.50000  11.000000