In [1]:
import requests
import fastf1
import pandas as pd
import json
from pandas import json_normalize

fastf1.Cache.enable_cache("./cache/")

In [2]:
year = input('Temporada : ')
round = input('Round : ')

Temporada : 2022
Round : 17

In [3]:
url = "http://ergast.com/api/f1/"
query = "pitstops.json"
urlquery = url + str(year) + '/'+str(round)+'/'+query

In [4]:
response = requests.get(urlquery)
data = response.json()
pit_stops = data['MRData']['RaceTable']['Races'][0]['PitStops']
#pit_stops

In [5]:
df = pd.DataFrame(pit_stops)
df

           driverId lap stop      time duration
0   kevin_magnussen   7    1  21:23:45   39.247
1           russell  21    1  21:54:16   30.378
2             gasly  33    1  22:19:45   29.867
3           tsunoda  33    1  22:20:11   31.293
4            bottas  33    1  22:20:13   32.167
5   kevin_magnussen  33    2  22:20:17   32.603
6           leclerc  34    1  22:20:56   32.058
7          hamilton  34    1  22:21:36   41.019
8            vettel  34    1  22:21:44   29.704
9   mick_schumacher  34    1  22:22:03   31.201
10            perez  35    1  22:22:51   29.550
11            sainz  35    1  22:23:17   30.603
12   max_verstappen  35    1  22:23:33   29.407
13           stroll  35    1  22:23:50   29.863
14          russell  35    2  22:25:08   29.713
15           norris  36    1  22:25:51   30.528
16        ricciardo  36    1  22:26:23   30.946
17   max_verstappen  40    2  22:36:35   29.775
18  mick_schumacher  41    2  22:39:34   34.722
19          russell  41    3  22:39:46   33.211
20          russell  51    4  22:59:32   29.893

In [7]:
df.sort_values(by=['duration'])

           driverId lap stop      time duration
12   max_verstappen  35    1  22:23:33   29.407
10            perez  35    1  22:22:51   29.550
8            vettel  34    1  22:21:44   29.704
14          russell  35    2  22:25:08   29.713
17   max_verstappen  40    2  22:36:35   29.775
13           stroll  35    1  22:23:50   29.863
2             gasly  33    1  22:19:45   29.867
20          russell  51    4  22:59:32   29.893
1           russell  21    1  21:54:16   30.378
15           norris  36    1  22:25:51   30.528
11            sainz  35    1  22:23:17   30.603
16        ricciardo  36    1  22:26:23   30.946
9   mick_schumacher  34    1  22:22:03   31.201
3           tsunoda  33    1  22:20:11   31.293
6           leclerc  34    1  22:20:56   32.058
4            bottas  33    1  22:20:13   32.167
5   kevin_magnussen  33    2  22:20:17   32.603
19          russell  41    3  22:39:46   33.211
18  mick_schumacher  41    2  22:39:34   34.722
0   kevin_magnussen   7    1  21:23:45   39.247
7          hamilton  34    1  22:21:36   41.019